<h1>New URL Link</h1>
<%= form_with model: @url_link, data: {turbo: false} do |form|%>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
