<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main>
      <%= tag.p notice, class:"notice" if notice %>
      <%= tag.p alert, class:"alert" if alert %>
      <div class="login">
        <% if user_signed_in? %>
          <%= link_to "Url Links", url_links_path %>
          <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
